
#{{saneBranch}}

{{created}}

| Build Status |   |
{{{jenkinsBuildIcon}}}

| ID | Title |
|:--|:--|
{{#userStories}}
| {{id}} | {{{name}}} |
{{/userStories}}
{{#defects}}
|   {{id}} | {{{name}}} |
{{/defects}}


#Commiters

    {{#rallyUsers}}
    - [ ] @{{.}}
    {{/rallyUsers}}

Approvals Please:

    {{#signOffs}}
    - [ ] @{{.}}
    {{/signOffs}}