
#{{saneBranch}}

{{created}}

| Build Status |   |
{{{jenkinsBuildIcon}}}

| ID | Title |
|:--|:--|
{{#userStories}}
| {{id}} | {{name}} |
{{/userStories}}
{{#defects}}
|   {{id}} | {{name}} |
{{/defects}}


#Commiters

    {{#uniqueUsers}}
    - [ ] @{{.}}
    {{/uniqueUsers}}

Approvals Please:

    {{#signOffs}}
    - [ ] @{{.}}
    {{/signOffs}}