
#{{saneBranch}}

{{created}}

| Build Status |   |
{{jenkinsBuildIcon}}

| Rally |
|:--|
{{#userStories}}
|   {{.}} |
{{/userStories}}
{{#defects}}
    |   {{.}} |
{{/defects}}


#Commiters

    {{#commitsUsers}}
    - [ ] @{{.}}
    {{/commitsUsers}}

Approvals Please:

    {{#signOffs}}
    - [ ] @{{.}}
    {{/signOffs}}